.airport-navbar {
    background-color: transparent;
    position: absolute;
    width: 100%;
    padding: 10px 90px;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    height: 55px;
    object-fit: contain;
}

.navbar-link {
    color: #0B0B0B !important;
    font-weight: 500;
    font-size: 14px;
}

.navbar-toggle {
    display: none !important;
}

@media(max-width:768px) {
    .airport-navbar {
        background-color: transparent;
        position: absolute;
        width: 100%;
        padding: 10px 0px;
        justify-content: center;
        align-items: center;
    }
}